


.chart-section {
  background-color: #2d2e35;
  position: relative;
  margin: 0px auto;
  min-height: 175px;
  border-radius: 5px;
  width: min(100% - 20px, 400px);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.15);
}

.chart-title {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  font-size: .8rem;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.chart-progress {
  position: absolute;
  color: #fff;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
